.weathercard {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(16, 223, 223);
    box-shadow: 0 0 10px rgb(8, 230, 230), 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    flex-direction: row;
    
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.weather-image {
    width: 150px;
    height: 150px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.title {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.value {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
}

.welcome-message {
    font-size: 40px;
    font-weight: bold;
}

.weather-in {
    font-size: 40px;
}

.top-half {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

label {
    font-size: 30px;
}
.input-container {
    position: relative;
    display: inline-block;
}

input {
    font-size: 20px;
    height: 30px;
    background-color: rgb(16, 15, 15);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 200px;
}


input:focus {
    border-bottom: 2px solid cyan;
}

/* Glowing underline */
.input-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: cyan;
    transition: width 0.4s ease-in-out;
}


input:focus + .input-container::after {
    width: 100%;
}
form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.overline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 21px;
    align-items: center;
}