.weathercard {
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: left;
}

.day-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}