.weathercard {
    display: flex;
    flex-direction: column;
    width: 175px;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(16, 223, 223);
    box-shadow: 0 0 6px rgb(8, 230, 230), 0 0 12px #0ff, 0 0 18px #0ff, 0 0 24px #0ff;
    padding: 12px;
    border-radius: 10px;
}

.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.weather-image {
    width: 100px;
    height: 100px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 6px 0;
    gap: 6px;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    justify-content: space-between;
}

.title, .value {
    width: 50%;
    text-align: left;
    font-weight: bold;
    font-size: 10px;
}

.date {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    color: white;
}

.welcome-message {
    font-size: 20px;
    font-weight: bold;
}

.weather-in {
    font-size: 20px;
}

.top-half {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

label {
    font-size: 20px;
}

.input-container {
    position: relative;
    display: inline-block;
}

input {
    font-size: 20px;
    height: 26px;
    background-color: rgb(16, 15, 15);
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 160px;
}

input:focus {
    border-bottom: 2px solid cyan;
}

.input-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: cyan;
    transition: width 0.4s ease-in-out;
}

input:focus + .input-container::after {
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.overline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid white;
    width: 80%;
    padding-bottom: 15px;
    align-items: center;
}

.input-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
}

button {
    border-radius: 6px;
    background-color: cyan;
    height: 20px;
    width: 120px;
    font-size: 14px;
}

button:hover {
    background-color: rgb(109, 179, 179);
    cursor: pointer;
}

@media (max-width: 768px) {
    .weathercard {
        width: 140px;
    }

    .weather-image {
        width: 80px;
        height: 80px;
    }

    .main-container {
        gap: 25px;
    }

    .top-half {
        gap: 12px;
    }

    .welcome-message, .weather-in {
        font-size: 20px;
    }

    .input-container {
        width: 100%;
    }

    input {
        width: 140px;
    }

    button {
        width: 100px;
    }
}

