@import url('https://fonts.googleapis.com/css2?family=Benne&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Tai+Heritage+Pro:wght@400;700&display=swap');

html {
  margin: 40px 10px 0px 10px;
  background-color: rgb(16, 15, 15);
  font-family: "STIX Two Text", serif;
}
